   @charset "uft-8";
   @import './mixin';


   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }

   input:focus,
   textarea:focus {
     outline: none;
   }

   img {
     max-width: 100%;
   }


   .center_box {
     width: 95%;
     max-width: 1200px;
     margin: 0 auto;
     //  @include centerY(relative);
   }

   .unMove {
     opacity: 0;
     transition: all 1.5s;
   }

   .moveOn {
     transform: translate(0) !important;
     opacity: 1 !important;
   }

   .moverWrap {
     .movingBox {
       opacity: 0;
       transition: all 1.5s;
     }
   }

   .moverOn_Wrap {
     .movingBox {
       transform: translate(0) !important;
       opacity: 1 !important;
     }
   }


   @for $i from 1 through 100 {
     .delay#{$i} {
       transition-delay: 0.1s * $i  !important;
     }
   }

   .flex_start {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
   }

   .flex_center {
     display: flex;
     align-items: center;
     justify-content: space-between;
   }

   .poppins {
     font-family: 'Poppins', sans-serif;
   }

   // ν—¤λ”
   .header {
     position: absolute;
     width: 100%;
     height: 10rem;
     top: 0;
     left: 0;
     z-index: 5;

     &__head {
       width: 95%;
       height: 100%;
       margin: 0 auto;
       @include flexCenter;
     }

     &__logo {
       color: #fff;
       font-size: 1.8rem;
       font-weight: 400;
     }

     &__menubtn,
     &__close {
       display: none;
     }

     @include tablet {
       &__menu {
         display: flex;
         gap: 4rem;

         li {
           position: relative;

           a {
             color: #fff;
             font-size: 1.8rem;
           }

           &:hover {
             &:after {
               content: '';
               display: block;
               width: 0.5rem;
               height: 0.5rem;
               background-color: #fff;
               border-radius: 100%;
               bottom: -1.5rem;
               @include centerX(absolute);
             }
           }
         }
       }
     }


     @include mobileOnly(768px) {
       &__menuWrap {
         position: fixed;
         width: 100%;
         height: 100%;
         right: -100%;
         top: 0;
         background-color: #141517;
         z-index: 5;
         transition: right 0.5s;
       }

       &__close {
         background: none;
         color: #fff;
         font-size: 4rem;
         top: 2rem;
         right: 2.5%;
         position: absolute;
       }

       &__menu {
         margin: 15rem auto 0 auto;
         padding: 6rem 0;
         width: 90%;
         height: 45.5vh;
         border-top: 1px solid #484848;
         border-bottom: 1px solid #484848;

         li {
           margin-bottom: 2rem;
           transition: transform 0.3s;

           a {
             font-size: 5rem;
             font-weight: 400;
             color: #fff;
             display: block;
             transition: color 0.3s;
           }

           &:hover {
             transform: translateX(2rem);

             a {
               color: $sky;
             }
           }
         }
       }


       &__menubtn {
         width: 3.2rem;
         height: 2.2rem;
         position: relative;
         background: none;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         div {
           width: 100%;
           height: 0.2rem;
           background-color: #fff;

           &:nth-child(2) {
             width: 2rem;
             margin: 0 auto;
             transition: width 0.3s;
           }
         }

         &:hover {
           div {
             &:nth-child(2) {
               width: 100%;
             }
           }
         }
       }

       &.open {
         .header__menuWrap {
           right: 0;
         }

         .header__close {
           display: block;
         }
       }
     }
   }

   // ν‘Έν„°
   .footer {
     background-color: #1C1D20;
     height: 100vh;
     position: relative;
     z-index: 0;
     @include flexAlign;

     &__title {
       color: #fff;
       font-size: clamp(3rem, 8vw, 12rem);
       line-height: 1.2;
       margin-bottom: 0.4em;
     }

     &__btns {
       display: flex;
       gap: 1rem;

       li {
         border: 1px solid #4f4f4f;
         border-radius: 50vmax;
         height: 7em;
         transition: background 0.3s;

         a {
           @include flexAlign;
           height: 100%;
           color: #fff;
           font-size: 2.2rem;
           padding: 0 clamp(1.5rem, 5vw, 4rem);
         }

         i {
           font-size: 1.4rem;
           margin-left: 0.5rem;
         }

         &:hover {
           background-color: $sky;
         }
       }
     }

     &__info {
       width: 100%;
       font-size: clamp(1.6rem, 2vw, 2rem);
       border-top: 3px solid #fff;
       border-bottom: 1px solid #5a5a5a;
       margin-bottom: 6rem;

       tr {

         th,
         td {
           padding: 2rem 1rem;

         }

         th {
           text-align: center;
           color: #c3c3c3;

         }

         td {
           color: #fff;
         }
       }
     }

     @include mobileOnly (960px) {
       &__info {
         display: block;

         th,
         td,
         tbody {
           display: block;
           box-sizing: border-box;
         }

         tr {
           display: flex;
           flex-wrap: wrap;

           th {
             width: 7.5rem;
             text-align: left;
           }

           td {
             width: calc(100% - 7.5rem);
           }
         }

       }
     }
   }